@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');

$primary: #e9f0f3;
$teal: rgb(31, 111, 231);
$orange: rgb(255, 136, 25);
$red: red;


* {
    margin: 0;
}
html { 
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
    font-size: 12px;
    font-weight: bold;
}


.list-and-graph-wrap {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

.watchlist {
    background: $primary;
    grid-auto-columns: 1fr;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}
.watchlist-wrap {
    margin-top: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:blue;
    background: $primary;
    padding: 10px;
    min-height: 200px;
        h2{
        text-align: left;
        font-size: 0.8em;

    }
        tr {
            font-size: 0.8em;
            font-weight: bold;
            background-color: #d7edf7
        }
        td {
            font-size: 0.8em;
            font-weight: 400;
        }
        tbody tr:nth-child(odd){
  background-color: rgb(181, 203, 241);
}
}
.chart {
    margin-top: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:blue;
    background: $primary;
    padding: 10px;
    min-height: 200px;
}

.watchlist table {
    text-align: left;
    table-layout: auto;
}
.page-container {
    text-align: center;
    margin-top: 8%;
    
    span {
        color: rgb(31, 111, 231);
    }
    h1 {
        color: white;
    }
}
.stockadder {
    width: 100%;

    h2{
        text-align: left;
        font-size: 0.8em;

    }
}

.Btn {
    border-style: none;
    background-color: $teal;
    color: white;
    border-radius: 5px;
    margin: 3px;

    &:hover {
        background-color: rgb(141, 212, 245)
    }
}
.startsimBtnReady {
    border-style: none;
    background-color: rgb(68, 214, 68);
    color: white;
    border-radius: 5px;
    margin: 3px;
    font-size: 1em;

    &:hover {
        background-color: rgb(51, 180, 51)
    }
}
.startsimBtnNo {
    border-style: none;
    background-color: rgb(96, 97, 100);
    color: white;
    border-radius: 5px;
    margin: 3px;
}